@model BgRallyRace.ViewModels.TeamViewModels
@{
    ViewData["Title"] = "Runway";
}
<div class="form-group row">
    <div class="col-sm-2">
        <partial name="_LeftBarPartial" />
    </div>
    <div class="col-sm-8">
        <div class="background">
            <h3>@Model.Name</h3>
            <hr class="my-4">
            <form asp-controller="Competitions" asp-action="RallyЕntry" method="post" class="form-group">
                <div>
                    <label asp-for="RallyPilot">Пилот</label>
                    <select asp-for="RallyPilot" class="form-control" />
                    <option value="RallyPilots[0]" selected="">RallyPilots[0].Name</option>
                    <option value="RallyPilots[1]"> RallyPilots[1].Name</option>
                    </select>
                </div>
                <div>
                    <label asp-for="RallyNavigator">Навигатор</label>
                    <select asp-for="RallyNavigator" class="form-control" />
                    <option value="RallyNavigators[0]" selected="">RallyNavigators[0].Name</option>
                    <option value="RallyNavigators[1]"> RallyNavigators[1].Name</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-secondary">Запиши се</button>
            </form>
        </div>
    </div>
    <div class="col-sm-2">
        <partial name="_RightBarPartial" />
    </div>
</div>

