@using Microsoft.AspNetCore.Identity
@using BgRallyRace.Services;
@using BgRallyRace.Data;


<a asp-controller="Cars" asp-action="Repair" name="repair">
    <button type="button" class="btn btn-primary">Ремонтирай</button>
</a>


