<div class="form-group row">
    <div class="col-sm-2">
        <partial name="_LeftBarPartial" />
    </div>
    <div class="col-sm-8">
        <div id="line_top_x"></div>
    </div>
    <div class="col-sm-2">
        <partial name="_RightBarPartial" />
    </div>
</div>


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', { 'packages': ['line'] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

        var a = @Model.MoneExpense;
        var b = @Model.MoneRevenue;
        var data = new google.visualization.DataTable();
        data.addColumn('number', 'Дни');
        data.addColumn('number', 'Приходи   ');
        data.addColumn('number', 'Разходи   ');

        for (let i = 0; i < @Model.MoneExpense.cocontinue; i++) {
            data.addRows([
                [i, a[i], b[i]]
                ]);
        }
       // data.addRows([
       //     [1, 37.8, 80.8],
       //     [2, 30.9, 69.5],
       //     [3, 25.4, 57],
       //     [4, 11.7, 18.8],
       //     [5, 11.9, 17.6],
       //     [6, 8.8, 13.6],
       //     [7, 7.6, 12.3],
       //     [8, 12.3, 29.2],
       //     [9, 16.9, 42.9],
       //     [10, 12.8, 30.9],
       //     [11, 5.3, 7.9],
       //     [12, 6.6, 8.4],
       //     [13, 4.8, 6.3],
       //     [14, 4.2, 6.2]
       // ]);

        var options = {
            chart: {
                title: 'Финансов резултат',
                curveType: 'function',
                legend: { position: 'bottom' }
            },
            width: 900,
            height: 500,
            axes: {
                x: {
                    0: { side: 'top' }
                }
            }

        };

        var chart = new google.charts.Line(document.getElementById('line_top_x'));

        chart.draw(data, google.charts.Line.convertOptions(options));
    }
</script>
