@{
    ViewData["Title"] = "FAQ";
}


<div class="form-group row">
    <div class="col-sm-3">
        <div class="tabs">
            <button class="tablinks" onclick="hoverTabs(event, 'Tabs1')" id="defaultOpen">Какво представлява Екипа?</button>
            <button class="tablinks" onclick="hoverTabs(event, 'Tabs2')">Какво прави Харизмата?</button>
            <button class="tablinks" onclick="hoverTabs(event, 'Tabs3')">Какво е Привързаност?</button>
            <button class="tablinks" onclick="hoverTabs(event, 'Tabs4')">Какво е Физическа подготовка/състояние?</button>
            <button class="tablinks" onclick="hoverTabs(event, 'Tabs5')">Как влияе Възраста?</button>
            <button class="tablinks" onclick="hoverTabs(event, 'Tabs6')">Как влияе Енергия?</button>
            <button class="tablinks" onclick="hoverTabs(event, 'Tabs7')">Как влияе Концентрация?</button>
        </div>
    </div>
    <div class="col-sm-9">
        <div id="Tabs1" class="tabcontent">
            <h3>Екип</h3>
            <p>
                Екипа е от 0 до 4 души, при нула души екип, пилота и навигатора ремонтират един
                брой повреда по автомобила. Всеки един допълнителен член на екипа повиша броя на ремонтите с 1.
                ВАЖНО: Когато пиота и навигатора ремонтират автомобила им пада енергията. Ако има челен на екипа
                може да се изключи пилота и навигатора да не ремонтират.
            </p>
        </div>
        <div id="Tabs2" class="tabcontent">
            <h3>Харизма</h3>
            <p>
                Колкото е по харизматичен пилота/навигаторът, толкова повече фенове ще има оторът,
                съответно приходи за него. Харизмата помага за по-лесно сключване на договор със спонсора.
            </p>
        </div>
        <div id="Tabs3" class="tabcontent">
            <h3>Привързаност</h3>
            <p>
                Ралитата са суров спорт, при всяка удобна ситуация конкуренцията може да
                се опита да те прецака и да привлече в своя отбор пилота и навигатора или член на екипа.
                Затова колкото са по-привързани ченовете на отбора, толкова по-търдно ще може конкуренцията да
                ги привлече. Всеки приз които отбора спеели повишата привързаността.
            </p>
        </div>
        <div id="Tabs4" class="tabcontent">
            <h3>Физическа подготовка/състояние</h3>
            <p>
                За максимално добро преставяне всеки член на отбора трява да е на върха на своята
                физическа подготовка. От неговото физическо състояние зависи падането на енергията.
                Към стойността с която пада енергията спрямо възрастта се добавя и процент, който повишава или
                намаля стойността с която пада енергията.
            </p>
        </div>
        <div id="Tabs5" class="tabcontent">
            <h3>Възраст</h3>
            <p>
                Енергията ще пада с различен темп спрямо възрастта на всеки един километър.
                Енергията пада според следната таблица:
            <p> 18 г.-1.00    </p>
            <p> 19 г.–1,25    </p>
            <p> 20 г.-1,50    </p>
            <p> 21 г.-1,75    </p>
            <p> 22 г.-2,00    </p>
            <p> 23 г.-2,25    </p>
            <p> 24 г.-2,50    </p>
            <p> 25 г.-2,75    </p>
            <p> 26 г.-3,00    </p>
            <p> 27 г.-3,50    </p>
            <p> 28 г.-4,00    </p>
            <p> 29 г.-4,50    </p>
            <p> 30 г.-5,00    </p>
            <p> 31 г.-6,00    </p>
            <p> 32 г.-7,00    </p>
            <p> *Отделно физическата подготовка/състояние помага за намалянето на стойността с която пада енергията.</p>
        </div>
        <div id="Tabs6" class="tabcontent">
            <h3>Енергия</h3>
            <p>
                Енергията е много важен фактор в играта. Спрямо стойността на енергията се изчисляват останалите умения.
                Енергията а екипа винаги е на 100%.
            <p>Тя влияе на уменията според следната таблица:</p>
            <p>100%-всичко е на макс                       </p>
            <p>до 95%-концентрацията -0,5                  </p>
            <p>до 90%-концентрация -1, умения -0,5         </p>
            <p>до 85%-концентрация -1,5, умения-1          </p>
            <p>до 80%-концентрация—2, умения -1,5          </p>
            <p>до 75%-концентрация—3, умения -2            </p>
            <p>до 70%-концентрация—4, умения -2,5          </p>
            <p>до 65%-концентрация—6, умения -3            </p>
            <p>до 60%-концентрация—8, умения -3,5          </p>
            <p>до 55%-концентрация—10, умения -4,5         </p>
            <p>до 50%-концентрация—12, умения -5,5         </p>
            <p>до 45%-концентрация—16, умения -7           </p>
            <p>до 40%-концентрация—20, умения -9           </p>
            <p>до 35%-концентрация—26, умения -11          </p>
            <p>до 30%-концентрация—35, умения -13          </p>
        </div>
        <div id="Tabs7" class="tabcontent">
            <h3>Концентрация</h3>
            <p>
                Ралито е доста опасен спорт. Миг невнимание и е станал инцидент.
                Затова концентрацията на пилота и навигатора е доста важен фактор.
                На случаен принцип, по време на състезанието се случват инциденти.
                Клокото е по-ниска концентрацията толкова по- голям е шанса за инцидент.
                Инцидентът оже само да те забави, може да пропуснеш даден състезателен етап
                или да напуснеш цялото състезание. Инцидента може да доведе и до щети по колата.
                *Има писти които изискват по-висока концентрация.
            </p>
        </div>
    </div>
</div>
<!-- alert('hello')-->

@section Scripts{
    <script>
        function hoverTabs(evt, name) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(name).style.display = "block";
            evt.currentTarget.className += " active";
        }

        document.getElementById("defaultOpen").click();
    </script>
}