@using BgRallyRace.Services;
@using BgRallyRace.Data;
@using BgRallyRace;
@{
    ViewData["Title"] = "Opinion";
}

<form asp-controller="Home" asp-action="Contact" method="post" class="form-group">
    <textarea class="form-control" id="exampleTextarea" name= "content" cols="50" rows="2" class="flL w200"></textarea>
    <button type="submit" class="btn btn-secondary">Побликувай</button>
</form>
@foreach (var opinion in Model.Opinions)
{
    <p>
        <div class="background" id="backgroundOthers">
            <div class="alert alert-dismissible alert-secondary">

                @opinion

            </div>
        </div>
    </p>
}
<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group mr-2" role="group" aria-label="First group">
        <button type="button" class="btn btn-secondary">1</button>
        <button type="button" class="btn btn-secondary">2</button>
        <button type="button" class="btn btn-secondary">3</button>
        <button type="button" class="btn btn-secondary">4</button>
    </div>
</div>

