@{
    ViewData["Title"] = "Opinion";
}

<form asp-controller="Home" asp-action="Contact" method="post" class="form-group">
    <textarea class="form-control" id="exampleTextarea" name= "content" cols="50" rows="2" class="flL w200"></textarea>
    <button type="submit" class="btn btn-secondary">Сподели</button>
</form>
@foreach (var opinion in Model.Opinions)
{
    <p>
        <div class="background" id="backgroundOthers">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">@opinion.User</h5>
                <small class="text-muted">@opinion.DateOfPublication  &times;</small>
            </div>
            <div class="alert alert-dismissible alert-secondary">
                @opinion.Content
            </div>
        </div>
    </p>
}
<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group mr-2" role="group" aria-label="First group">
        <button type="button" class="btn btn-secondary">1</button>
        <button type="button" class="btn btn-secondary">2</button>
        <button type="button" class="btn btn-secondary">3</button>
        <button type="button" class="btn btn-secondary">4</button>
    </div>
</div>

