    <p>
        <div>
            <a class="nav-link " asp-controller="Training" asp-action="Training" >Тренировка</a>
            <a class="nav-link " asp-controller="Training" asp-action="Dismissal" >Освободи</a>
        </div>
    </p>




