@using BgRallyRace.Services;
@using BgRallyRace.Data;
@using BgRallyRace;
@{
    ViewData["Title"] = "Car";
}
    <div class="background">
        <ul>
            <li>
                @Model.Engines.Result.Speed
            </li>
        </ul>
    </div>
