@model BgRallyRace.ViewModels.NavigatorViewModels
@{
    ViewData["Title"] = "Navigator";
}

<div class="form-group row">
    <div class="col-sm-2">
        <partial name="_LeftBarPartial" />
    </div>
    <div class="col-sm-8">
        <a class=" background">
            <p>Създаване на Навигатор</p>
            <form asp-controller="Admin" asp-action="Navigator" method="post" class="form-group">
                <partial name="_PeoplePartial" />
                <div>
                    <label asp-for="Communication"> Рефлекс </label>
                    <input asp-for="Communication" class="form-control" placeholder="0-100" />
                    <span asp-validation-for="Communication" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-secondary">Създай</button>
            </form>
        </a>
    </div>
    <div class="col-sm-2">
        <partial name="_RightBarPartial" />
    </div>
</div>
