@if (!User.IsInRole("Admin"))
{
    <div class="leftBackground">
        <button class="dropdown-btn">
            Екип
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <p><a class="nav-link " asp-controller="Teams" asp-action="Pilot">Пилот</a></p>
            <p><a class="nav-link " asp-controller="Teams" asp-action="Navigator">Навигатор</a></p>
        </div>
        <p><a class="nav-link " asp-controller="Cars" asp-action="Car">Кола </a></p>
    </div>

    <div class="leftBackground">
        <p><a class="nav-link " asp-controller="RaceHistory" asp-action="History">Състезание</a></p>
        <p><a class="nav-link " asp-controller="Runway" asp-action="Runway">Писти</a> </p>
    </div>
}

@{
    if (User.IsInRole("Admin"))
    {
        <div class="leftBackgroundAdmin">
            <a asp-controller="Admin" asp-action="Opinions">
                Оторизация на мнения
                <span>
                    <marcheswidget>
                        <div id="marchesWidgets">
                            <div class="outgoingCampaigns">
                                <b>
                                    @await Component.InvokeAsync("Opinions")
                                </b>
                            </div>
                        </div>
                    </marcheswidget>
                </span>
            </a>
        </div>
    }
}
