
<div class="leftBackground">
    <button class="dropdown-btn">
        Екип
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
        <p><a asp-controller="Teams" asp-action="Pilot">Пилот</a></p>
        <p><a asp-controller="Teams" asp-action="Navigator">Навигатор</a></p>
    </div>
</div>

<div class="leftBackground">
    <p>Състезание</p>
</div>


@if (true)
{
    <div class="leftBackgroundAdmin">
        <p><a asp-controller="Admin" asp-action="Opinions">Оторизация на мнения (3)</a></p>
    </div>
}
