@if (!User.IsInRole("Admin"))
{
    <div class="RightBackground">
        <p>Статистика</p>
        <p><a asp-controller="Finance" asp-action="FinancialStatistics">Финанси</a></p>
    </div>

    <div class="RightBackground">
        <button class="dropdown-btn">
            Пазар
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <p><a asp-controller="Market" asp-action="MarketForPilots"> за Пилоти</a></p>
            <p><a asp-controller="Market" asp-action="MarketForNavigators">за Навигатори</a></p>
            <p><a asp-controller="Market" asp-action="MarketForParts">за Части</a></p>
        </div>
    </div>
}


@if (User.IsInRole("Admin"))
{
    <div class="RightBackgroundAdmin">
        <p><a asp-controller="Admin" asp-action="Runway">Създай Писта</a></p>
        <p><a asp-controller="Admin" asp-action="....">Създай Състезание</a></p>
        <p><a asp-controller="Admin" asp-action="Pilot">Създай Пилот</a></p>
        <p><a asp-controller="Admin" asp-action="Navigator">Създай Навигатор</a></p>
        <p><a asp-controller="Admin" asp-action="Parts">Създай Части за кола</a></p>
    </div>
}

<script>
    var acc = document.getElementsByClassName("nav-item dropdown");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.display === "block") {
                panel.style.display = "none";
            } else {
                panel.style.display = "block";
            }
        });
    }
</script>
