@using Microsoft.AspNetCore.Identity
@using BgRallyRace.Services;
@using BgRallyRace.Data;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{var db = new ApplicationDbContext();
    TeamServices team = new TeamServices(db);}


@if (SignInManager.IsSignedIn(User) && (await team.FindUser(User.Identity.Name) == null))
{
    <div class="background">
        <form asp-controller="Teams" asp-action="CreateTeam" method="post" class="form-group">
            <a>Дай име на Отбора си!</a>
            <textarea class="form-control" id="exampleTextarea" name="textTeam" cols="5" rows="2" class="flL w200"></textarea>
            <button type="submit" class="btn btn-secondary">Публикувай</button>
        </form>
    </div>
}

@if (SignInManager.IsSignedIn(User))
{
    <div class="form-group row">
        <div class="col-sm-3">
            <partial name="_LeftBarPartial" />
        </div>
        <div class="col-sm-6">
            <div class="background">
                <p>Следващото състезание започва след:</p>
                <p id="demo"></p>
                <p>Подтотви си за него тук!</p>
            </div>
        </div>
        <div class="col-sm-3">
            <partial name="_RightBarPartial" />
        </div>
    </div>
}
else
{
    <div class="background">
        <div class="row">
            <div class="col-sm-4"> </div>
            <div class="col-sm-4">
                <p>Следващото състезание започва след:</p>
                <p id="demo"></p>
                <p>
                    <a class="nav-link " asp-area="Identity" asp-page="/Account/Login">Вход</a>
                </p>
                <p>
                    <a class="nav-link " asp-area="Identity" asp-page="/Account/Register">Регистрация</a>
                </p>
            </div>
            <div class="col-sm-4"> </div>
        </div>
    </div>
}
