@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model BgRallyRace.Models.Home.IndexViewModel



@if (SignInManager.IsSignedIn(User) && ((Model.Team == null) && !(User.IsInRole("Admin"))))
{
    <div class="background">
        <form asp-controller="Teams" asp-action="CreateTeam" method="post" class="form-group">
            <a>Дай име на Отбора си!</a>
            <textarea class="form-control" id="exampleTextarea" name="textTeam" cols="5" rows="2" class="flL w200"></textarea>
            <button type="submit" class="btn btn-secondary">Публикувай</button>
        </form>
    </div>
}

@if (SignInManager.IsSignedIn(User))
{
    <div class="form-group row">
        <div class="col-sm-2">
            <partial name="_LeftBarPartial" />
        </div>
        <div class="col-sm-8">
            <div class="background">
                <p>Следващото състезание започва след:</p>
                <p id="demo"></p>
                <p>
                    <a class="nav-link " asp-controller="Competitions" asp-action="RallyЕntry">
                        Подтотви си за него тук!
                    </a>
                </p>
            </div>
        </div>
        <div class="col-sm-2">
            <partial name="_RightBarPartial" />
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-sm-4"> </div>
        <div class="col-sm-4">
            <div class="background">
                <p>Следващото състезание започва след:</p>
                <p id="demo"></p>
                <p class=" text-dark">
                    Ела регистрирай се, покажи дали можеш да победиш едини от най-добрите българигски рали пилоти.
                </p>
                <p>
                    <a class="nav-link " asp-area="Identity" asp-page="/Account/Login">Вход</a>
                </p>
                <p>
                    <a class="nav-link " asp-area="Identity" asp-page="/Account/Register">Регистрация</a>
                </p>
            </div>
        </div>
        <div class="col-sm-4"> </div>
    </div>
}

<script>
    /* When the user clicks on the button,
    toggle between hiding and showing the dropdown content */
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function (event) {
        if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }
</script>
