@{ if (ViewData["Title"] == "FirstPilot")
    {
        <p>
            <a class="text-dark" asp-controller="Dismissal" asp-action="DismissalPilot" asp-route-id="@Model.Pilots[0].Id" >
                <button type="submit" class="btn btn-secondary">
                    Освободи
                </button>
            </a>
        </p>
    }
    else if (ViewData["Title"] == "SecandPilot")
    {
        <a class="text-dark" asp-controller="Dismissal" asp-action="DismissalPilot" asp-route-id="@Model.Pilots[1].Id" >
            <button type="submit" class="btn btn-secondary">
                Освободи
            </button>
        </a>
    }
    else if (ViewData["Title"] == "FirstNavigator")
    {
        <a class="text-dark" asp-controller="Dismissal" asp-action="DismissalNavigator" asp-route-id="@Model.Navigators[0].Id" >
            <button type="submit" class="btn btn-secondary">
                Освободи
            </button>
        </a>
    }
    else if (ViewData["Title"] == "SecandNavigator")
    {
        <a class="text-dark" asp-controller="Dismissal" asp-action="DismissalNavigator" asp-route-id="@Model.Navigators[1].Id" >
            <button type="submit" class="btn btn-secondary">
                Освободи
            </button>
        </a>
    }

    else if (ViewData["Title"] == "..")//ToDo
    {
        <a class="text-dark" asp-controller="Dismissal" asp-action="DismissalFitter" asp-route-id="0" >
            <button type="submit" class="btn btn-secondary">
                Освободи
            </button>
        </a>
    }
}






