@{ if (ViewData["Title"].ToString() == "FirstPilot")
    {
        <a class="text-dark" asp-controller="Teams" asp-action="IncreaseSalarylPilot" asp-route-id="@Model.Pilots[0].Id">
            <button type="submit" class="btn btn-secondary">
                Увеличи заплата
            </button>
        </a>
    }
    else if (ViewData["Title"].ToString() == "SecandPilot")
    {
        <a class="text-dark" asp-controller="Teams" asp-action="IncreaseSalarylPilot" asp-route-id="@Model.Pilots[1].Id">
            <button type="submit" class="btn btn-secondary">
                Увеличи заплата
            </button>
        </a>
    }
    else if (ViewData["Title"].ToString() == "FirstNavigator")
    {
        <a class="text-dark" asp-controller="Teams" asp-action="IncreaseSalarylNavigator" asp-route-id="@Model.Navigators[0].Id">
            <button type="submit" class="btn btn-secondary">
                Увеличи заплата
            </button>
        </a>
    }
    else if (ViewData["Title"].ToString() == "SecandNavigator")
    {
        <a class="text-dark" asp-controller="Teams" asp-action="IncreaseSalarylNavigator" asp-route-id="@Model.Navigators[1].Id">
            <button type="submit" class="btn btn-secondary">
                Увеличи заплата
            </button>
        </a>
    }
    else if (ViewData["Title"].ToString() == "..")//ToDo
    {

        <a class="text-dark" asp-controller="Teams" asp-action="..." asp-route-id="0">
            <button type="submit" class="btn btn-secondary">
                Увеличи заплата
            </button>
        </a>
    }
}





