<form asp-controller="Training" asp-action=Training  method="post" class="form-group" >
    <table class="table table-hover">
        <thead>
            <tr class="table">
                <th scope="col">Тип тренировка</th>
                <th scope="col">Цена</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Фитнес</th>
                <td>100лв.</td>
            </tr>
            <tr>
                <th scope="row">Спа почивка</th>
                <td>1000лв.</td>
            </tr>
            <tr>
                <th scope="row">Тиймбилдинг</th>
                <td>700лв.</td>
            </tr>
            <tr>
                <th scope="row">Йога</th>
                <td>100лв.</td>
            </tr>
            @{ if (ViewData["Title"].ToString() == "FirstPilot" || ViewData["Title"].ToString() == "SecandPilot")
                {
                    <tr>
                        <th scope="row">Скуош</th>
                        <td>800лв.</td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td></td>
                    </tr>
                }
                else if (ViewData["Title"].ToString() == "FirstNavigator" || ViewData["Title"].ToString() == "SecandNavigator" )
                {
                    <tr>
                        <th scope="row">Комуникациона тренировка</th>
                        <td>800лв.</td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td></td>
                    </tr>
                }
            }
        </tbody>
        <tfoot>
            Избор на тренировка
            <select class="normal" name="sessionType" id="SessionType">
                <option value="Fitness 100" selected="">Фитнес</option>
                <option value="Yoga 100">Йога</option>
                <option value="TeamBuilding 700">Тиймбилдинг</option>
                <option value="Spa 1000">Спа почивка</option>
                @{ if (ViewData["Title"].ToString() == "FirstPilot" || ViewData["Title"].ToString() == "SecandPilot")
                    {
                        <option value="Squash 800">Скуош</option>
                    }
                    else if (ViewData["Title"].ToString() == "SecandNavigator" || ViewData["Title"].ToString() == "SecandNavigator" )
                    {
            <option value="CommunicationTraining 800">Комуникациона тренировка</option>
                    }
                }
            </select>
        </tfoot>
    </table>
    @{ if (ViewData["Title"].ToString() == "FirstPilot")
        {
        <button type="submit" class="btn btn-secondary" name="type" value="Pilot @Model.Pilots[0].Id" }>
            Тренировка
        </button>
        }
        else if (ViewData["Title"].ToString() == "SecandPilot")
        {
            <button type="submit" class="btn btn-secondary" name="type" value="Pilot @Model.Pilots[1].Id">Тренировка</button>
        }
        else if (ViewData["Title"].ToString() == "FirstNavigator")
        {
            <button type="submit" class="btn btn-secondary" name="type" value="Navigator @Model.Navigators[0].Id">Тренировка</button>
        }
        else if (ViewData["Title"].ToString() == "SecandNavigator")
        {
            <button type="submit" class="btn btn-secondary" name="type" value="Navigator @Model.Navigators[1].Id">Тренировка</button>
        }
        else if (ViewData["Title"].ToString() == "..")//ToDo
        {
            <button type="submit" class="btn btn-secondary">Тренировка</button>
        }
    }
</form>







