@{ if (ViewData["Title"] == "Pilot")
    {
        <p>
            <div>
                <a class="nav-link " asp-controller="Training" asp-action="Training">Тренировка</a>
                <a class="nav-link " asp-controller="Training" asp-action="Dismissal">Освободи</a>
            </div>
        </p>
    }
    else if (ViewData["Title"] == "Navigator")
    {
        <p>
            <div>
                <a class="nav-link " asp-controller="Training" asp-action="Training">Тренировка</a>
                <a class="nav-link " asp-controller="Training" asp-action="Dismissal">Освободи</a>
            </div>
        </p>
    }
    else
    {
        <p>
            <div>
                <a class="nav-link " asp-controller="Training" asp-action="Training">Тренировка</a>
                <a class="nav-link " asp-controller="Training" asp-action="Dismissal">Освободи</a>
            </div>
        </p>
    }
}






