@using BgRallyRace.Services;
@using BgRallyRace.Data;
@using BgRallyRace;
@{
    ViewData["Title"] = "Pilot";
}
    <div class="form-group row">
        <div class="col-sm-2">
            <partial name="_LeftBarPartial" />
        </div>
        <div class="col-sm-8">
            <div class="teamTab">
                <button class="teamTablink" onclick="openPage('FirstPilot', this, 'green')" id="defaultOpen">Първи пилот</button>
                <button class="teamTablink" onclick="openPage('SecandPilot', this, 'green')">Втори пилот</button>
            </div>

            @if (Model.Pilots.Count == 0)
            {
                <div id="FirstPilot" class="teamTabcontent">
                    <h3>Нямате пилот</h3>
                    <h5>Идете на пазара и си наемете</h5>
                </div>
                <div id="SecandPilot" class="teamTabcontent">
                    <h3>Нямате пилот</h3>
                    <h5>Идете на пазара и си наемете</h5>
                </div>
            }
            <partial name="_FirstPilotPartial" />
            <partial name="_SecandPilotPartial" />
        </div>
        <div class="col-sm-2">
            <partial name="_RightBarPartial" />
        </div>
    </div>

<script>
    function openPage(pageName, elmnt, color) {
        // Hide all elements with class="tabcontent" by default * /
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("teamTabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Remove the background color of all tablinks/buttons
        tablinks = document.getElementsByClassName("teamTablink");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].style.backgroundColor = "";
        }

        // Show the specific tab content
        document.getElementById(pageName).style.display = "block";

        // Add the specific color to the button used to open the tab content
        elmnt.style.backgroundColor = color;
    }

    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
</script>