#marchesWidgets .outgoingCampaigns {
    top: 15px;
    left: 5px;
    background-color: rgb(31,104,185);
}

#marchesWidgets .incomingCampaigns, #marchesWidgets .outgoingCampaigns {
    position: absolute;
    z-index: 1;
    width: 20px;
    height: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    line-height: 20px;
    text-shadow: 0 0 5px #000;
    color: #fff;
    background: rgb(204,55,32);
    border: 1px solid #000;
    border-radius: 50%;
}


header * {
    text-decoration: none;
    font-size: 20px;
    display: block;
}

.SearchBar {
    margin-left: 54rem;
}

.collapse navbar-collapse {
    float: right;
    text-align: right;
}

body *{
    text-decoration: none;
}

main {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 2rem;
    color: #3366FF;
    font-size: 20px;
    background-image: url(/images/DS3WRC.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.background {
    background: #839496 linear-gradient(180deg, #96a4a6, #839496) repeat-x;
    border-color: #d6d8db;
    background-clip: border-box;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    width: 100%;
    height: 100%;
    opacity: 0.95;
    display: block;
}

.leftBackground {
    background: #839496 linear-gradient(180deg, #96a4a6, #839496) repeat-x;
    border-color: #d6d8db;
    background-clip: border-box;
    border-radius: 10px;
    text-decoration: none;
    width: 150px;
    height: 250px;
    opacity: 0.95;
    display: block;
    text-align: left;
}

.RightBackground {
    background: #839496 linear-gradient(180deg, #96a4a6, #839496) repeat-x;
    border-color: #d6d8db;
    background-clip: border-box;
    border-radius: 10px;
    text-decoration: none;
    width: 150px;
    height: 250px;
    opacity: 0.95;
    display: block;
    text-align: left;
}

.leftBackgroundAdmin {
    background: #839496 linear-gradient(180deg, #96a4a6, #839496) repeat-x;
    border-color: #d6d8db;
    background-clip: border-box;
    border-radius: 10px;
    text-decoration: none;
    width: 200px;
    height: 500px;
    opacity: 0.95;
    display: block;
    text-align: left;
}

.RightBackgroundAdmin {
    background: #839496 linear-gradient(180deg, #96a4a6, #839496) repeat-x;
    border-color: #d6d8db;
    background-clip: border-box;
    border-radius: 10px;
    text-decoration: none;
    width: 200px;
    height: 500px;
    opacity: 0.95;
    display: block;
    text-align: left;
}

footer * {
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 8px;
    text-align: right;
}

link {
    float: right;
    color: brown;
    text-align: right;
}

.tabs {
    float: left;
    border: 1px solid #d6d8db;
    width: 100%;
    height: 500px;
    background: #839496 linear-gradient(180deg, #96a4a6, #839496) repeat-x;
    border-color: #d6d8db;
    border-radius: 10px;
    opacity: 0.95;
}

.tabs button {
    display: block;
    background: #839496 linear-gradient(180deg, #96a4a6, #839496) repeat-x;
    border-color: #d6d8db;
    border-radius: 10px;
    opacity: 0.95;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    text-align: left;
    cursor: pointer;
    font-size: 17px;
}

.tabs button:hover {
    margin: 1rem;
    background: #839496 linear-gradient(180deg, #eff3f3, #839496) repeat-x;
    border-color: #d6d8db;
    border-radius: 10px;
    opacity: 0.95;
}

.tabs button.active {
    background: #eff3f3 linear-gradient(180deg, #eff3f3, #839496) repeat-x;
    border-color: #d6d8db;
    border-radius: 10px;
    opacity: 0.95;
}

.tabcontent {
    float: left;
    background: #839496 linear-gradient(180deg, #96a4a6, #839496) repeat-x;
    border-color: #d6d8db;
    border-radius: 10px;
    opacity: 0.95;
    color: black;
    width: 100%;
    border-left: none;
    height: 850px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/*Gallery*/
.column {
    float: left;
    width: 25%;
    padding: 10px;
}

/* Style the images inside the grid */
.column img {
    opacity: 0.8;
    cursor: pointer;
}

.column img:hover {
    opacity: 1;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* The expanding image container */
.GalleryContainer {
    position: relative;
    display: none;
}

/* Expanding image text */
#imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
}

/* Closable button inside the expanded image */
.closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
}

.teamTab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.teamTablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 50%;
}

.teamTablink:hover {
    background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.teamTabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
}

#FirstPilot, #SecandPilot, #FirstNavigator, #SecandNavigator {
    background-color: green;
}

#SecandPilot {
    background-color: green;
}

.panel {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    text-align: right;
    text-decoration: none;
}


body {
    font-family: "Lato", sans-serif;
}

/* Fixed sidenav, full height */
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #3366FF;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    background-clip: border-box;
    border-radius: 10px;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
    color: blue;
}

/* Main content */
.main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.dropdown-active {
    background-color: green;
    color: blue;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
    background-clip: border-box;
    border-radius: 10px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
    float: right;
    padding-right: 8px;
}
