@model BgRallyRace.ViewModels.RunwayViewModels
@{
    ViewData["Title"] = "Runway";
}
<div class="form-group row">
    <div class="col-sm-2">
        <partial name="_LeftBarPartial" />
    </div>
    <div class="col-sm-8">
        <div class="background">
            <div class="form-group row">
                <div class="col-sm-4">
                    <p></p>
                        КАРТА <img src="~/images/@Model.ImagName" width="298" height="380">
                </div>
                <div class="col-sm-8">
                    <h2>@Model.Name</h2>
                    <hr class="my-4">
                    <p class="lead">@Model.Description</p>
                    <hr class="my-4">
                    <p>Дължина на пистата @Model.TrackLength км.</p>
                </div>
            </div>
        </div>
        </div>
    <div class="col-sm-2">
        <partial name="_RightBarPartial" />
    </div>
</div>

