@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
    <div class="row">
        <div class="col-sm-8">
            <img class="d-block " src="~/images/Citroen-2019.jpg">
        </div>
        <div class="col-sm-4">
            <div class="background">
                <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <h2>Създай своя акаунт, и да започваме състезанието!</h2>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Email">Имейл</label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password">Парола</label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.ConfirmPassword">Потвърди паролата</label>
                        <input asp-for="Input.ConfirmPassword" class="form-control" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Регистрация</button>
                </form>
            </div>
        </div>
    </div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
