@model BgRallyRace.ViewModels.CompetitionsViewModels
@{
    ViewData["Title"] = "Error";
}
<div class="row">
    <div class="col-sm-8">
        <img class="d-block " src="~/images/error.jpg" height="512", width="900">
    </div>
    <div class="col-sm-4">
        <div class="background">
            <h1> Ooops</h1>
            <h2> 404</h2>
            <a class="nav-link" asp-controller="Home" asp-action="Index"> Начало </a>
            <a class="nav-link" asp-controller="Home" asp-action="FAQ"> ЧЗВ </a>
        </div>
    </div>
</div>


